<section class="about" id="about">
  <div class="container">
    <h2 class="about-title">About us</h2>
    <div class="about-wrap">
      <p class="about-text">
        <span class="about-span">Fruit Block - Puzzle Legend</span> is an
        addictive match-3 puzzle game where players combine
        <span class="about-span">colorful fruits to clear</span>
        <span class="about-span">levels</span> and
        <span class="about-span">complete challenges.</span>
      </p>

      <picture>


        <source srcset="
            ./img/about/about-1-desk.png 1x,
            ./img/about/about-1-desk.png 2x
          " media="(min-width: 1200px)" />
        <source srcset="./img/about/about-1.png 1x, ./img/about/about-1.png 2x" media="(min-width: 320px)" />

        <img src="./img/about/about-1.png" alt="foto" width="566" />
      </picture>
    </div>
    <div class="about-wrap">
      <p class="about-text">
        With hundreds of levels,
        <span class="about-span">exciting power-ups,</span> and
        <span class="about-span">special events,</span>
        <span class="about-span">Fruit Block</span> offers endless fun
        <span class="about-span">for players of all ages.</span>
      </p>
      <picture>

        <source srcset="
            ./img/about/about-2-desk.png    1x,
            ./img/about/about-2-desk-2x.png 2x
          " media="(min-width: 1200px)" />
        <source srcset="./img/about/about-2.png 1x, ../img/about/about-2-2x.png 2x" media="(min-width: 320px)" />

        <img src="./img/about/about-2.png" alt="Slide 2" width="566" />
      </picture>
    </div>
    <div class="about-wrap about-relative">
      <p class="about-text">
        The gameplay is simple but increasingly challenging, perfect for those
        <span class="about-span">who love casual puzzle games with a strategic twist.</span>
      </p>
      <picture>

        <source srcset="
            ./img/about/about-3-desk.png    1x,
            ./img/about/about-3-desk-2x.png 2x
          " media="(min-width: 1200px)" />
        <source srcset="./img/about/about-3.png 1x, ./img/about/about-3-2x.png 2x" media="(min-width: 320px)" />

        <img src="./img/about/about-3.png" alt="Slide 3" width="566" />
      </picture>
    </div>
    <img
      src="./img/about/about-fence.png"
      alt="fence"
      class="about-fence-img"
      width="1577"
      height="81"
    />
  </div>
</section>