<section class="benefits">
    <div class="container">
        <h2 class="benefits-title">Benefits</h2>
        <div class="benefits-cards">
            <div class="benefits-list">
                <div class="benefits-card">
                    <div class="benefits-card-icon">
                        <svg width="81" height="86" aria-label="icon star">
                            <use href="./img/sprite.svg#icon-star"></use>
                        </svg>
                    </div>
                    <div class="benefits-card-content">
                        <h3 class="benefits-card-title">4.8</h3>
                        <p class="benefits-card-text">Stars</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <div class="benefits-card-icon">
                        <svg width="81" height="86" aria-label="icon download">
                            <use href="./img/sprite.svg#icon-download"></use>
                        </svg>
                    </div>
                    <div class="benefits-card-content">
                        <h3 class="benefits-card-title">Over 1.5 Million</h3>
                        <p class="benefits-card-text">Downloads</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <div class="benefits-card-icon">
                        <svg width="123" height="86" aria-label="icon reviews">
                            <use href="./img/sprite.svg#icon-reviews"></use>
                        </svg>
                    </div>
                    <div class="benefits-card-content">
                        <h3 class="benefits-card-title">20 000+</h3>
                        <p class="benefits-card-text">Positive Reviews</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <div class="benefits-card-icon">
                        <svg width="85" height="86" aria-label="icon offline">
                            <use href="./img/sprite.svg#icon-offline"></use>
                        </svg>
                    </div>
                    <div class="benefits-card-content">
                        <h3 class="benefits-card-title">Offline Play</h3>
                    </div>
                </div>
                <div class="benefits-card">
                    <div class="benefits-card-icon">
                        <svg width="170" height="86" aria-label="icon special events">
                            <use href="./img/sprite.svg#icon-special"></use>
                        </svg>
                    </div>
                    <div class="benefits-card-content">
                        <h3 class="benefits-card-title">Special Events</h3>
                    </div>
                </div>
                <div class="benefits-card">
                    <div class="benefits-card-icon">
                        <svg width="82" height="86" aria-label="icon bonuses">
                            <use href="./img/sprite.svg#icon-bonuses"></use>
                        </svg>
                    </div>
                    <div class="benefits-card-content">
                        <h3 class="benefits-card-title">Daily Bonuses</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>