<section id="faq" class="faq">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>
        <div class="accordion-container">
            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">How do I start playing Fruit
                        Block -
                        Puzzle
                        Legend?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-minus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Download from the Play Store and tap 'Play' to begin.</p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">Is the game free to play?<svg
                            class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Yes, but it offers optional in-app purchases for boosters and special items.</p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">Can I play without an internet
                        connection?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Yes, the game supports offline play.</p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">What are boosters, and how do
                        I get them?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Boosters help you clear tough levels and can be earned by completing challenges
                        or purchased in-game.</p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">How often are new levels
                        added?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">New levels and challenges are added regularly to keep the game fresh and
                        exciting.</p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">How often are new levels
                        added?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Yes, connect through social media to see your friends' progress and compete for
                        high scores.</p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">What are the seasonal
                        events?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Seasonal events offer special themed levels and unique rewards for limited
                        periods of time.
                    </p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">How can I earn more stars?<svg
                            class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Complete levels with fewer moves to earn more stars and unlock additional
                        rewards.
                    </p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">Can I sync my progress across
                        devices?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Yes, connect to your social media account to save and sync your game progress on
                        multiple devices.
                    </p>
                </div>
            </div>

            <div class="ac ac-container-card">
                <div class="ac-header">
                    <button type="button" aria-label="Button question" class="ac-trigger">Are there daily
                        challenges?<svg class="ac-about-svg" width="28" height="28">
                            <use href="./img/sprite.svg#icon-plus"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="ac-text">Yes, complete daily tasks to earn rewards like coins, boosters, and more!
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>