<section id="faq" class="faq">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">How do I start playing <br class="faq-title-br">Fruit Block - Puzzle <br
                        class="faq-title-br">Legend?
                </div>
                <div class="accordion-panel">
                    <p>Download from the Play <br class="faq-title-br">Store and tap 'Play' <br class="faq-title-br">to
                        begin.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">Is the game free to play?
                </div>
                <div class="accordion-panel">
                    <p>Yes, but it offers optional <br class="faq-title-br">in-app purchases for
                        <br class="faq-title-br">boosters and special items.
                    </p>
                </div>
            </div>

        </div>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">Can I play without an <br class="faq-title-br">internet connection?
                </div>
                <div class="accordion-panel">
                    <p>Yes, the game supports <br class="faq-title-br">offline play.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">What are boosters, and <br class="faq-title-br"> how do I get them?
                </div>
                <div class="accordion-panel">
                    <p>Boosters help you <br class="faq-title-br">clear tough levels <br class="faq-title-br">and can
                        be
                        earned <br class="faq-title-br">by completing
                        challenges <br class="faq-title-br">or purchased in-game.</p>
                </div>
            </div>

        </div>


        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">How often are new levels <br class="faq-title-br">added?
                </div>
                <div class="accordion-panel">
                    <p>New levels and challenges <br class="faq-title-br">are added regularly to keep
                        <br class="faq-title-br">the game fresh and
                        exciting.
                    </p>
                </div>
            </div>
        </div>


        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">Can I compete with <br class="faq-title-br">friends?
                </div>
                <div class="accordion-panel">
                    <p>Yes, connect through <br class="faq-title-br">social media to see <br class="faq-title-br">your
                        friends' progress <br class="faq-title-br">and compete
                        for high scores.</p>
                </div>
            </div>
        </div>


        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">What are the seasonal <br class="faq-title-br">events?
                </div>
                <div class="accordion-panel">
                    <p>Seasonal events offer <br class="faq-title-br">special themed levels <br class="faq-title-br">and
                        unique rewards <br class="faq-title-br">for limited
                        periods of time.</p>
                </div>
            </div>

        </div>


        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">How can I earn more <br class="faq-title-br">stars?
                </div>
                <div class="accordion-panel">
                    <p>Complete levels with <br class="faq-title-br">fewer moves to earn <br class="faq-title-br">more
                        stars
                        and unlock <br class="faq-title-br">additional
                        rewards.</p>
                </div>
            </div>

        </div>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">Can I sync my progress <br class="faq-title-br">across devices?
                </div>
                <div class="accordion-panel">
                    <p>Yes, connect to your <br class="faq-title-br">social media account <br class="faq-title-br">to
                        save and
                        sync your game progress
                        on multiple devices.</p>
                </div>
            </div>

        </div>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">Are there daily <br class="faq-title-br">challenges?
                </div>
                <div class="accordion-panel">
                    <p>Yes, complete daily tasks <br class="faq-title-br">to earn rewards like coins,
                        <br class="faq-title-br">boosters, and more!
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>