<section id="faq" class="faq">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>

        <div class="accordion-faq">
            <div class="accordion-content">
                <div class="accordion-title">How do I start playing <br class="faq-title-br">Fruit Block - Puzzle <br
                        class="faq-title-br">Legend?
                </div>
                <div class="accordion-panel">
                    <p>Download from the Play <br class="faq-title-br">Store and tap 'Play' <br class="faq-title-br">to
                        begin.
                    </p>
                </div>
            </div>

        </div>

        <!-- <div class="accordion-faq">
            <div data-tab="faq-tab-2" class="accordion-title">
                <p>Is the game free to play?</p>
                
            </div>
            <div id="faq-tab-2" class="accordion-panel">
                <p class="accordion-text">Yes, but it offers optional <br class="faq-title-br">in-app purchases for
                    <br class="faq-title-br">boosters and special items.
                </p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-3" class="accordion-title">
                <p>Can I play without <br class="faq-title-br">an internet connection?</p>
                
            </div>
            <div id="faq-tab-3" class="accordion-panel">
                <p class="accordion-text">Yes, the game supports <br class="faq-title-br">offline play.
                </p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-4" class="accordion-title">
                <p>What are boosters, <br class="faq-title-br">and how do I get them?</p>
               
            </div>
            <div id="faq-tab-4" class="accordion-panel">
                <p class="accordion-text">Boosters help you <br class="faq-title-br">clear tough levels <br
                        class="faq-title-br">and can be
                    earned <br class="faq-title-br">by completing
                    challenges <br class="faq-title-br">or purchased in-game.</p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-5" class="accordion-title">
                <p>How often are <br class="faq-title-br">new levels added?
                </p>
                
            </div>
            <div id="faq-tab-5" class="accordion-panel">
                <p class="accordion-text">New levels and challenges <br class="faq-title-br">are added regularly to keep
                    <br class="faq-title-br">the game fresh and
                    exciting.
                </p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-6" class="accordion-title">
                <p>Can I compete with friends?</p>
                
            </div>
            <div id="faq-tab-6" class="accordion-panel">
                <p class="accordion-text">Yes, connect through <br class="faq-title-br">social media to see <br
                        class="faq-title-br">your
                    friends' progress <br class="faq-title-br">and compete
                    for high scores.</p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-7" class="accordion-title">
                <p>What are the seasonal events?</p>
                
            </div>
            <div id="faq-tab-7" class="accordion-panel">
                <p class="accordion-text">Seasonal events offer <br class="faq-title-br">special themed levels <br
                        class="faq-title-br">and
                    unique rewards <br class="faq-title-br">for limited
                    periods of time.</p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-8" class="accordion-title">
                <p>How can I earn more stars?</p>
                
            </div>
            <div id="faq-tab-8" class="accordion-panel">
                <p class="accordion-text">Complete levels with <br class="faq-title-br">fewer moves to earn <br
                        class="faq-title-br">more stars
                    and unlock <br class="faq-title-br">additional
                    rewards.</p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-9" class="accordion-title">
                <p>Can I sync my progress <br class="faq-title-br">across devices?
                </p>
                
            </div>
            <div id="faq-tab-9" class="accordion-panel">
                <p class="accordion-text">Yes, connect to your <br class="faq-title-br">social media account <br
                        class="faq-title-br">to save and
                    sync your game progress
                    on multiple devices.</p>
            </div>
        </div>

        <div class="accordion-faq">
            <div data-tab="faq-tab-10" class="accordion-title">
                <p>Are there daily challenges?</p>
                
            </div>
            <div id="faq-tab-10" class="accordion-panel">
                <p class="accordion-text">Yes, complete daily tasks <br class="faq-title-br">to earn rewards like coins,
                    <br class="faq-title-br">boosters, and more!
                </p>
            </div>
        </div> -->
    </div>
</section>