<section class="footer" id="footer">
    <div class="container footer-container">
        <div class="footer-button">
            <a href="https://play.google.com/store/apps/details?id=com.creativejoy.fruitblock" target="_blank"
                class="link-footer">
                <svg class="footer-button-icon" width="81" height="21" aria-label="button google app">
                    <use href="./img/sprite.svg#icon-google"></use>
                </svg>
            </a>
        </div>
        <div class="footer-text footer-box2">
            <nav>
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a href="./privacy.html">Privacy policy</a>
                    </li>
                    <li>
                        <a href="./conditions.html">Terms and conditions</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-content footer-box1">
            <span class="footer-span-3"> All rights reserved</span>
            <br class="footer-break">
            <span class="footer-span-1">&#169;2024 ProHubWave.com</span>
            <span class="footer-span-2">,</span>
        </div>
    </div>
</section>