<section class="'footer" id="footer">
    <div class="container">
        <div class="footer-button">
            <a href="https://play.google.com/store/apps/details?id=com.creativejoy.fruitblock" target="_blank"
                class="link-footer">
                <svg class="menu-open-btn-icon" width="28" height="28" aria-label="mobile menu open button">
                    <use href="../img/sprite/sprite.svg#google"></use>
                </svg>
            </a>
        </div>
    </div>
</section>