<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper aboutSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../img/gallery/g-1-desk.png    1x,
                ../img/gallery/g-1-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="../img/gallery/g-1.png 1x, ./img/gallery/g-1-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="../img/gallery/g-1.png" alt="Slide 1" width="586" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/g-2-desk.png    1x,
                ./img/gallery/g-2-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="../img/gallery/g-2.png 1x, ./.img/gallery/g-2-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="../img/gallery/g-2.png" alt="Slide 2" width="586" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/g-3-desk.png    1x,
                ./img/gallery/g-3-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="./img/gallery/g-3.png 1x, ./img/gallery/g-3-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="./img/gallery/g-3.png" alt="Slide 3" width="586" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/g-4-desk.png    1x,
                ./img/gallery/g-4-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="./img/gallery/g-4.png 1x, ./img/gallery/g-4-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="./img/gallery/g-4.png" alt="Slide 4" width="586" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/g-5-desk.png    1x,
                ./img/gallery/g-5-desk-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="./img/gallery/g-5.png 1x, ./img/gallery/g-5-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="./img/gallery/g-5.png" alt="Slide 5" width="586" />
          </picture>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
