<header class="header">
  <div class="container">
    <nav class="header-nav-mob">
      <div class="header-mob">
         <a href="./index.html" class="header-logo"
        ><img
          src="./img/logo-desk.png"
          alt="logo"
          class="header-logo-img"
        
      /></a>
  
      <button class="burger" type="button" id="burger">
        <svg class="burger-icon" width="24" height="24">
          <use href="./img/sprite/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
    <nav class="header-nav-desk">
          <a href="./index.html" class="header-logo-desk"
        ><img
          src="./img/logo-desk.png"
          alt="logo"
          class="header-logo-img"
          width="107"
          height="71"
      /></a>
          <div class="header-desk">
        <ul class="header-nav-list">
          <li class="head-nav-item"><a href="#home" class="head-nav-link">Home</a></li>
          <li class="head-nav-item"><a href="#" class="head-nav-link">Gallery</a></li>
          <li class="head-nav-item"><a href="#" class="head-nav-link">About us</a></li>
          <li class="head-nav-item"><a href="#" class="head-nav-link">Benefits</a></li>
          <li class="head-nav-item"><a href="#" class="head-nav-link">Reviews</a></li>
          <li class="head-nav-item"><a href="#faq" class="head-nav-link">FAQ</a></li>
          
        </ul>
      </div>
    </nav>
      </div>
     
  </div>
</header>

