<section class="home" id="home">
  <div class="container home-container">
    <div class="home-desk-wrap">
      <div class="home-desk-text">
        <h1 class="home-title">Fruit Block - Puzzle Legend</h1>
        <p class="home-text">
          Match Fruits, Solve Puzzles, and Become a Puzzle Legend!
        </p>
      </div>

      <picture class="home-img">
        <source srcset="/img/home/hero-desk.png 1x, /img/home/hero-desk.png 2x" media="(min-width: 1200px)" />
        <source srcset="/img/home/hero.png 1x, /img/home/hero.png 2x" media="(min-width: 320px)" />
        <img src="/img/home/hero.png" alt="foto" width="483" />
      </picture>
    </div>

    <div class="home-button">
      <a href="https://play.google.com/store/apps/details?id=com.creativejoy.fruitblock" target="_blank"
        class="link-home">
        <svg class="home-button-icon" width="81" height="21" aria-label="mobile menu open button">
          <use href="/img/sprite.svg#icon-google"></use>
        </svg>
      </a>
    </div>
    <div class="home-fence-wrap">

      <img src="../img/fence-mob.png" alt="fence" class="home-fence" width="359" />

    </div>
    <div class="fence-desk-wrap">
      <img
        src="./img/home/hero-fence-desk.png"
        alt="fence"
        class="home-fence-desk"
        width="1577"
        height="127"
      />
    </div>
  </div>
</section>