<section class="home" id="home">
  <div class="container home-container">
    <div class="home-mob-wrap">
      <h1 class="home-title">Fruit Block - Puzzle Legend</h1>
      <p class="home-text">
        Match Fruits, Solve Puzzles, and Become a Puzzle Legend!
      </p>

      <picture class="home-img">
        <source
          srcset="/img/home/hero.png 1x, /img/home/hero.png 2x"
          media="(min-width: 320px)"
        />
        <img src="/img/home/hero.png" alt="foto" width="246" height="429" />
      </picture>
      <div class="home-button">
        <a
          href="https://play.google.com/store/apps/details?id=com.creativejoy.fruitblock"
          target="_blank"
          class="link-home"
        >
          <svg
            class="home-button-icon"
            width="81"
            height="21"
            aria-label="mobile menu open button"
          >
            <use href="./img/sprite#icon-google"></use>
          </svg>
        </a>
      </div>

      <picture class="home-img-fence">
        <source srcset="/img/fence-mob.png 1x" media="(min-width: 320px)" />
        <img
          src="/img/fence-mob.png"
          alt="fence"
          class="home-fence"
          width="359"
        />
      </picture>
    </div>

    <div class="home-desk-wrap">
      <div class="home-desk-text-wrap">
        <h1 class="home-desk-title">Fruit Block - Puzzle Legend</h1>
        <p class="home-desk-text">
          Match Fruits, Solve Puzzles, and Become a Puzzle Legend!
        </p>
        <a
          href="https://play.google.com/store/apps/details?id=com.creativejoy.fruitblock"
          target="_blank"
          class="link-desk-home"
        >
          <svg
            class="home-button-icon-desk"
            width="81"
            height="21"
            aria-label="mobile menu open button"
          >
            <use href="/img/sprite.svg#icon-google"></use>
          </svg>
        </a>
      </div>

      <picture class="home-img-desk">
        <source
          srcset="/img/home/hero-desk.png 1x, /img/home/hero-desk.png 2x"
          media="(min-width: 1200px)"
        />

        <img
          src="/img/home/hero-desk.png"
          alt="foto"
          width="483"
          height="841"
        />
      </picture>
    </div>
    <img
      class="home-fence-desk"
      src="/img/fence-desk.png"
      alt="fence"
      width="800"
    />
  </div>
</section>
