<section class="mob-menu">
  <div class="container">
    <button type="button" class="close-mob-menu">
      <svg class="mob-menu-close-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
 <div class="container">
    <nav class="m-m-nav">
      <div class="header-mob">
         <a href="./index.html" class="header-logo"
        ><img
          src="./img/logo-desk.png"
          alt="logo"
          class="header-logo-img"
        
      /></a>
  
      <button class="m-m-close" type="button">
        <svg class="m-m-close-icon" width="24" height="24">
          <use href="./img/sprite/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
    <nav class="nav-mob-menu">
      <ul class="mob-menu-list">
        <li class="mob-menu-item"><a href="#">Home</a></li>
        <li class="mob-menu-item"><a href="#">Gallery</a></li>
        <li class="mob-menu-item"><a href="#">About us</a></li>
        <li class="mob-menu-item"><a href="#">Benefits</a></li>
         <li class="mob-menu-item"><a href="#">Reviews</a></li>
        <li class="mob-menu-item"><a href="#">FAQ</a></li>
        
      </ul>
    </nav>
  </div>
</section>
