<section class="mob-menu">
  <div class="container">
    <div class="mob-menu-wrap">
      <a href="./index.html" class="header-logo"><img src="./img/logo-mob.png" alt="logo" class="header-logo-img"
          width="50" height="28" /></a>
      <button type="button" class="close-mob-menu">
        <svg class="mob-menu-close-icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <nav class="nav-mob-menu">
      <ul class="mob-menu-list">
        <li class="mob-menu-item"><a href="#home">Home</a></li>
        <li class="mob-menu-item"><a href="#gallery">Gallery</a></li>
        <li class="mob-menu-item"><a href="#about">About us</a></li>
        <li class="mob-menu-item"><a href="#benefits">Benefits</a></li>
        <li class="mob-menu-item"><a href="#reviews">Reviews</a></li>
        <li class="mob-menu-item"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
  </div>
</section>