<section id='reviews' class="section-reviews">
    <div class="container">
        <div class="reviews-title">Reviews</div>
        <div class="reviews-swiper">
            <div class="swiper-wrapper swiper-reviews-list">
                <!------------------SLIDE 1------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/FruitMaster-desk.png 1x, ./img/reviews/FruitMaster-desk@2x.png 2x"
                            src="./img/reviews/FruitMaster-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">FruitMaster</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;I love the vibrant graphics and the satisfying feeling of
                            clearing
                            levels. Super fun and relaxing!&rdquo;</p>
                    </div>
                </div>
                <!------------------SLIDE 2------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/FruityQueen-desk.png 1x, ./img/reviews/FruityQueen-desk@2x.png 2x"
                            src="./img/reviews/FruityQueen-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">FruityQueen</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;I&apos;ve been playing for months, and it&apos;s still as fun
                            as the
                            first day
                            I started. Highly recommend!&rdquo;</p>
                    </div>
                </div>
                <!------------------SLIDE 3------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/EventHunter-desk.png 1x, ./img/reviews/EventHunter-desk@2x.png 2x"
                            src="./img/reviews/EventHunter-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">EventHunter</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;The special events are where the game shines. Always something
                            new
                            to look forward to, with great rewards.&rdquo;</p>
                    </div>
                </div>
                <!------------------SLIDE 4------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/PuzzleFan-desk.png 1x, ./img/reviews/PuzzleFan-desk@2x.png 2x"
                            src="./img/reviews/PuzzleFan-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">PuzzleFan</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;This is my favorite match-3 game. The levels are challenging,
                            and the boosters make it even more exciting.&rdquo;</p>
                    </div>
                </div>
                <!------------------SLIDE 5------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/FruitMaster-desk.png 1x, ./img/reviews/FruitMaster-desk@2x.png 2x"
                            src="./img/reviews/FruitMaster-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">GameLover88</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;Fruit Block has a great balance of easy and difficult levels,
                            keeping me entertained for hours.&rdquo;</p>
                    </div>
                </div>
                <!------------------SLIDE 6------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/StrategistPro-desk.png 1x, ./img/reviews/StrategistPro-desk@2x.png 2x"
                            src="./img/reviews/StrategistPro-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">StrategistPro</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;If you love puzzle games with a twist, Fruit Block is a
                            must-try. So many fun levels and challenges.&rdquo;</p>
                    </div>
                </div>
                <!------------------SLIDE 7------------------->
                <div class="swiper-slide swiper-slide-card">
                    <div class="reviews-item">
                        <img srcset="./img/reviews/FruityQueen-desk.png 1x, ./img/reviews/FruityQueen-desk@2x.png 2x"
                            src="./img/reviews/FruityQueen-desk.png" alt="photo John Wax" width="42" height="40"
                            class="reviews-img" />
                        <h3 class="reviews-name">CandyCrushFan</h3>
                    </div>
                    <div class="reviews-description">
                        <p class="reviews-content">&ldquo;This game is better than other puzzle games I&apos;ve played.
                            The events are amazing, and I never get bored.&rdquo;</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>