.about {
  background-image: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  padding-top: 64px;
  padding-bottom: 16px;
}

.about-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.45833;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 24px;
  @include media(desktop) {
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 64px;
  }
}

.about-text {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  color: #0c0c0c;
  margin-bottom: 16px;
  margin-right: 24px;
  @include media(desktop) {
    font-size: 24px;
    line-height: 1.67;
    margin-bottom: unset;
  }
}

.about-span {
  font-weight: 600;
}

// .about-wrap {
//   margin-bottom: 24px;
//   @include media(desktop) {
//     margin-bottom: 64px;
//     display: flex;
//   }
// }

.about-wrap {
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 64px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.about-wrap:nth-child(1) {
  flex-direction: row;
  margin-right: 24px;
}

.about-wrap:nth-child(3) {
  flex-direction: row;
}

.about-wrap img {
  margin-right: 24px;
}

.about-relative {
  position: relative;
  padding-bottom: 20px;
}

.about-fence-img {
  display: none;
  @include media(desktop) {
    display: block;
    position: absolute;
    width: 1200px;

    transform: translate(-3%, -72%);
  }
}
