.benefits {
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;
  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
.benefits-fence-mob-img {
  width: 400px;
  transform: translate(-3%, 46%);
  @include media(desktop) {
    display: none;
  }
}

.benefits-fence-desk-img {
  display: none;
  @include media(desktop) {
    display: block;
    position: absolute;
    width: 1200px;

    transform: translate(-3%, -18%);
  }
}

.benefits-title {
  margin-bottom: 38px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.46;

  @include media(desktop) {
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 1.1;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
    column-gap: 143px;
  }
}

.benefits-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 224px;
  height: 210px;
  cursor: pointer;

  @include media(desktop) {
    row-gap: 16px;
    width: 243px;
    height: 241px;
  }
}

.benefits-card:hover {
  border-radius: 16px;
  box-shadow: inset 0px 9px 9px 0 #b0da3b, inset -0px -9px 9px 0 #9abf34;
  background: rgba(168, 222, 20, 0.05);
}

.benefits-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #183f1e;
  margin-bottom: 8px;
}

.benefits-card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #183f1e;
}

//Modal//
.benefit-modal {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #30621980;
  transition: visibility 0s, opacity 0.3s easy;
  z-index: 999;
}

.benefit-modal-show {
  visibility: visible;
  opacity: 1;
}

.benefits-modal-card {
  border-radius: 16px;
  margin: 130px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 216px;
  padding: 24px 0;
  box-shadow: inset 0px 10px 10px 0 #b0da3b, inset -0px -10px 10px 0 #9abf34;
  background: #fff;

  @include media(desktop) {
    padding: 24px 36px;
    min-width: 714px;
    height: 216px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 263px auto;
  }
}

.benefits-modal-card .benefits-card-text {
  padding: 0 27px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: #0c0c0c;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.67;
    padding: 0;
    width: 450px;
  }
}

.benefits-modal-card .benefits-card-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  color: #183f1e;

  @include media(desktop) {
    font-size: 24px;
  }
}

.benefits-modal-card .benefits-card-icon {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
