.faq {
  padding-bottom: 88px;
}

.faq-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  color: #0c0c0c;
}

@include media(desktop) {
  .faq-title-br {
    display: none;
  }
}

.accordion-content {
  padding: 16px 0;
  position: relative;
}

.accordion-content::before,
.accordion-content::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    grey,
    black,
    grey,
    rgba(255, 255, 255, 0)
  );
}

.accordion-content::before {
  top: 0;
}

.accordion-content::after {
  bottom: 0;
}

.accordion-faq:last-child .accordion-content::after {
  display: block;
}

.accordion-panel {
  position: relative;
  color: #088d1c;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  padding: o;
}

.accordion-content.active .accordion-panel {
  height: auto;
  padding-top: 8px;
}

.accordion-title {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: #0c0c0c;
  cursor: pointer;
}

.accordion-title::before {
  content: '+';
  position: absolute;
  top: 51%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 3em;
  font-weight: 200;
}

.accordion-content.active .accordion-title::before {
  content: '-';
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 48px;
  top: 30%;
  right: -10px;
  font-size: 5em;
  transform: translateY(-50%);
}
