.faq {
  padding-bottom: 88px;
}

.faq-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  color: #0c0c0c;
}

// .accordion-panel {
//   display: none;
// }

// .accordion-faq {
//   display: flex;
//   flex-direction: column;
// }

.accordion-content {
  // display: flex;
  // align-items: center;

  padding: 16px 0;
  position: relative;
}

.accordion-content::before,
.accordion-content::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    grey,
    black,
    grey,
    rgba(255, 255, 255, 0)
  );
}

.accordion-content::before {
  top: 0;
}

.accordion-content::after {
  bottom: 0;
}

.accordion-faq:last-child .accordion-content::after {
  display: block;
}

.accordion-panel {
  position: relative;
  // margin-top: 8px;
  color: #088d1c;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion-title {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: #0c0c0c;
  cursor: pointer;
}

.accordion-title::before {
  content: '+';
  position: absolute;
  top: 51%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 3em;
  font-weight: 200;
}
