.faq-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  color: #0c0c0c;
}

.accordion-faq {
  display: flex;
  flex-direction: column;
}
