.gallery {
  position: relative;
  padding-top: 28px;
  padding-bottom: 24px;

  @include media(desktop) {
    padding-top: 157px;
    padding-bottom: 128px;
  }
}

.galery-swiper-container {
  position: relative;
}

.gallery-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 64px;
  }
}

.gallerySwiper {
  width: calc(100% - (63px - 16px) * 2);
  @include media(desktop) {
    width: calc(100% - 97px * 2);
  }
}

.g-s-slide {
  width: 194px !important;
  @include media(desktop) {
    width: 362px !important;
  }
}

.g-s-slide img {
  width: 100%;
  display: block;
  border-radius: 9px;
  position: relative;

  @include media(desktop) {
    border-radius: 16px;
  }
}

.navigate-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-swiper-btn-next,
.gallery-swiper-btn-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 37px;

  @include media(desktop) {
    width: 73px;
    height: 89px;
  }
}

.gallery-swiper-btn-next {
  right: -5px;

  @include media(desktop) {
    right: -24px;
  }
}

.gallery-swiper-btn-prev {
  left: -5px;
  @include media(desktop) {
    left: -24px;
  }
}

.gallery-fence-mob-img {
  transform: translate(-1%, 65%);
  @include media(desktop) {
    display: none;
  }
}

.gallery-fence-desk-img {
  display: none;
  @include media(desktop) {
    display: block;
    position: absolute;

    transform: translate(-3%, -18%);
  }
}
