.gallery {
  width: 100%;
  overflow: hidden;
  margin-top: 48px;
}

.gallery-container {
  padding-right: 0;
  padding-left: 0;
}

.gallery-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #0c0c0c;
  margin-top: 48px;
  margin-bottom: 24px;
}

.swiper-slide {
  border-radius: 9px;
  width: 194px;
  height: 327px;
  @include media(desktop) {
    border-radius: 16px;
    width: 306px;
    height: 515px;
  }
}

.gallerySwiper {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
}

.swiper-wrapper {
  display: flex;
  margin: 0;
}

.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}
