.header {
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
}

body {
  padding-top: 10px;
  @include media(desktop) {
    padding-top: 56px;
  }
}
.container {
  max-width: 1000px;
}

.home-container {
  padding: 0;
}
.header-nav-mob {
  @include media(desktop) {
    margin-bottom: 48px;
    display: none;
  }
}

.header-logo-img {
  width: 50px;
  height: 32px;
  @include media(desktop) {
    width: 107px;
    height: 71px;
  }
}
.burger {
  border: none;
  background-color: transparent;

  @include media(desktop) {
    display: none;
  }
}

.header-mob {
  display: flex;
  justify-content: space-between;
}

.head-nav-item {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #004125;
  border-right: 1px solid black;

  padding-right: 24px;
}

.head-nav-item:hover {
  font-style: 18px;
  text-shadow: 0 9px 6px rgba(255, 255, 255, 0.749);
}

.head-nav-item:last-child {
  border-right: none;
  padding-right: 0;
}

.header-logo-desk {
  display: none;
  @include media(desktop) {
    display: flex;
  }
}

.header-nav-desk {
  display: none;
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav-list {
  display: flex;
  gap: 24px;
}

.home-fence {
  margin-bottom: 10px;
}
