.home {
  position: relative;
  background-image: url('../img/home/hero-bg.jpg');
  backdrop-filter: blur(50px);
  background-size: cover;
  background-position: center;
  min-width: 320px;
  min-height: 727px;
  padding-top: 32px;

  @include media(desktop) {
    min-width: 1200px;
    height: 870px;
    background-image: url('../img/home/hero-bg-desk.jpg');
    backdrop-filter: blur(50px);
    background-size: cover;
    background-position: center;
  }
}

.home-container {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 45px;
  background-image: url(../img/fence-mob.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  @include media(desktop) {
    background-image: none;
  }
}

.link-home {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 42px;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  text-decoration: none;
  transition: background-image 0.3s ease;
  margin-bottom: 40px;

  @include media(desktop) {
    width: 169px;
    height: 64px;
  }

  &:hover {
    background-image: linear-gradient(90deg, #a8ff78 0%, #78ffd6 100%);
  }
}

.home-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #fafafa;
  margin-bottom: 16px;
  margin-top: 42px;
  @include media(desktop) {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.home-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #d6cecd;
  margin-bottom: 24px;
  @include media(desktop) {
    max-width: 556px;
    font-size: 24px;
    line-height: 1.33;
  }
}

.home-img {
  display: flex;
  justify-content: end;
  padding: 0;
  @include media(desktop) {
    position: absolute;
    transform: translate(147%, 44%);
    min-width: 483px;
    height: 841px;
  }
}

.home-button {
  display: flex;
  justify-content: center;

  @include media(desktop) {
    position: absolute;
    transform: translate(4%, 220%);
  }
}

.home-button-icon {
  width: 81px;
  height: 21px;
  @include media(desktop) {
    width: 127px;
    height: 31px;
  }
}

.home-desk-wrap {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
  }
}

.home-button-icon-desk {
  display: none;
  @include media(desktop) {
    display: unset;
    width: 169px;
    height: 64px;
  }
}

.home-desk-text {
  font-family: 'Lato', sans-serif;
  max-width: 556px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #d6cecd;
}

.home-desk-text {
  @include media(desktop) {
    position: relative;
    transform: translate(10px, 94%);
  }
}

.home-fence-desk {
  display: none;
  @include media(desktop) {
    display: block;
    position: absolute;
    width: 801px;
    height: 85px;
    transform: translate(-5%, 579%);
  }
}
