.link-home {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 40px;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  text-decoration: none;
  transition: background 0.3s ease;
  @include media(desktop) {
    width: 169px;
    height: 64px;
  }
}

.link-home:hover {
  background-image: linear-gradient(90deg, #a8ff78 0%, #78ffd6 100%);
}
