.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 59%;
  background: rgba(0, 0, 0, 0.8);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 9999;
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  padding-top: 12px;
}

.home-button-desk {
}

.m-m-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header-logo {
}
.header-logo-img {
}
.close-mob-menu {
  border: none;
  background-color: transparent;
}
.mob-menu-close-icon {
}
.nav-mob-menu {
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.mob-menu-item {
  font-weight: 700;
  font-size: 17px;

  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #004125;
  border-bottom: 1px solid black;

  padding-bottom: 16px;
}
.mob-menu-item:last-child {
  border-bottom: none;
}
