.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; /* Змінено з 100% на 80% */
  background: rgba(0, 0, 0, 0.8); /* Додати напівпрозорий фон */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 9999;
}

.home-button-desk {
}

.m-m-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
