.reviews {
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
}

.reviews-container {
  background-image: url(../img/reviews/fence2-mob.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right bottom -13px;
  padding-bottom: 80px;
  padding-top: 40px;
  @include media(desktop) {
    padding-top: 60px;
    background-image: url(../img/reviews/fence2-desk.png);
    background-position: right bottom -102px;
    padding-bottom: 135px;
    padding-left: 129px !important;
    padding-right: 129px !important;
  }
}

.reviews-swiper {
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.46;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.reviews-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  @include media(desctop) {
    gap: 10px;
  }
}

.reviews-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  @include media(desctop) {
    font-size: 24px;
    line-height: 1.7;
  }
}

.reviews-description {
  font-weight: 500;
  font-size: 16px;
  @include media(desctop) {
    font-size: 24px;
    line-height: 1.67;
  }
}
