@import './header.scss';
@import './about.scss';
@import './benefits.scss';
@import './disclaimer.scss';
@import './faq.scss';
@import './footer.scss';
@import './gallery.scss';
@import './home.scss';
@import './modal.scss';
@import './reviews.scss';
@import './fonts.scss';

root {
  font-family: Montserrat, Lato, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;

  color: #0c0c0c;
  background-color: #fafafa;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}

