// @import url('./common/_reset.scss');
@import url('./header.scss');
@import url('./about.scss');
@import url('./benefits.scss');
@import url('./disclaimer.scss');
@import url('./faq.scss');
@import url('./footer.scss');
@import url('./gallery.scss');
@import url('./home.scss');
@import url('./modal.scss');
@import url('./reviews.scss');
@import url('./fonts.scss');

root {
  font-family: Montserrat, Lato, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;

  color: #0c0c0c;
  background-color: #fafafa;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}
